<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>收银管理系统&nbsp;修改密码</title>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/eventSlove.js"></script>
    <link href="/css/MyCSS.css" rel="stylesheet" type="text/css" />

</head>
<body>

<!--导航栏-->
<nav class="ol" style="background-color: khaki;width:100%">
    <h1 class="ol" style="color: blueviolet;margin-left: 7%">收银管理系统</h1>
    <a class="ol" href="/login" style="margin-left: 65%"><h2>登录</h2></a>
    <a class="ol ml" href="/register"><h2>注册</h2></a>
    <a class="ol ml" href="/forgetPassword"><h2>忘记密码</h2></a>
</nav>

<div th:if="${msg}" align="center">
    <h2 th:text="${msg}" style="color: red"></h2>
</div>
<table style="width: 100%;height: 70%" align="center">
    <tr style="height: 130px"></tr>
    <tr>
        <td style="width: 42%"></td>
        <td>
            <form id="change_form" action="/change_submit" method="post">
                <table>
                    <tr>
                        <td align="center"><h2 style="color: cornflowerblue">修改密码</h2></td>
                        <label id="warn" style="color: red"></label>
                    </tr>
                    <tr>
                        <td>
                            <label for="account">用&nbsp;&nbsp;户&nbsp;&nbsp;名：</label>
                            <input id="account" name="account" type="text" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="oldPassword">原&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>
                            <input id="oldPassword" name="oldPassword" type="password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="newPassword">新&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>
                            <input id="newPassword" name="newPassword" type="password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="newPasswordAgain">新&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>
                            <input id="newPasswordAgain" name="newPasswordAgain" type="password" required>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input value="修改密码" type="submit">
                        </td>
                    </tr>
                </table>


            </form>
        </td>
    </tr>
</table>


</body>
</html>