<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>收银管理系统&nbsp;订单管理</title>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/eventSlove.js"></script>
    <script type="text/javascript" src="js/numeral.min.js"></script>
    <link href="/css/MyCSS.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(loadAllOrder());
    </script>
</head>
<body style="width: 100%">

<!--导航栏-->
<nav class="ol" style="background-color: khaki;width:100%">
    <h1 class="ol" style="color: blueviolet;margin-left: 7%;position: relative;float: left">收银管理系统</h1>
    <h2 style="margin-left: 65%;position: relative;float: left">订单管理</h2>
    <a href="#" class="ml" onclick="window.history.back()"  style="position: relative;float: left"><h2>返回</h2></a>
</nav>
<h2 style="width: 100%" align="center">所有订单</h2>
<table id="container" width="100%" border="1px" bordercolor="#000000" cellspacing="0px">
    <tr>
        <th>产品名称</th>
        <th>订单数量</th>
        <th>订单单价</th>
        <th>订单总价</th>
        <th>收银员</th>
        <th>下单时间</th>
    </tr>
</table>

</body>
</html>