<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>收银管理系统&nbsp;忘记密码</title>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/eventSlove.js"></script>
    <link href="/css/MyCSS.css" rel="stylesheet" type="text/css" />

</head>
<body>

<!--导航栏-->
<nav class="ol" style="background-color: khaki;width:100%">
    <h1 class="ol" style="color: blueviolet;margin-left: 7%">收银管理系统</h1>
    <a class="ol" href="/login" style="margin-left: 65%"><h2>登录</h2></a>
    <a class="ol ml" href="/register"><h2>注册</h2></a>
    <a class="ol ml" href="/changePassword"><h2>修改密码</h2></a>
</nav>

<div th:if="${msg}" align="center">
    <h2 th:text="${msg}" style="color: red"></h2>
</div>

<table style="width: 100%;height: 70%" align="center">
    <tr style="height: 130px"></tr>
    <tr>
        <td style="width: 42%"></td>
        <td>
            <form id="forget_form" action="/forget_submit" method="post">
                <label id="warn" style="color: red"></label>
                <table>
                    <tr>
                        <td align="center"><h2 style="color: cornflowerblue">找回密码</h2></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="account">用&nbsp;&nbsp;户&nbsp;&nbsp;名：</label>
                            <input id="account" name="account" type="text" required>
                        </td>
                        <td>
                            <button onclick="showQuestion()">显示密保问题</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="question">密保问题：</label>
                            <label id="question" style="color: red"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="answer">回&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;答：</label>
                            <input id="answer" name="answer" type="text" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="newPassword">新&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>
                            <input id="newPassword" name="newPassword" type="password" required>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input value="修改密码" type="submit">
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
<div>
</div>

</body>
</html>