<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>收银管理系统&nbsp;经理界面</title>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/eventSlove.js"></script>
    <link href="/css/MyCSS.css" rel="stylesheet" type="text/css" />

</head>
<body style="width: 100%">

<!--导航栏-->
<nav class="ol" style="background-color: khaki;width:100%">
    <h1 class="ol" style="color: blueviolet;margin-left: 7%">收银管理系统</h1>
    <a class="ol" href="/inventory" style="margin-left: 50%"><h2>库存管理</h2></a>
    <a class="ol ml" href="/sales_performance"><h2>销售统计</h2></a>
    <a class="ol ml" href="/check_order"><h2>订单查看</h2></a>
    <a class="ol ml" href="/cashier_performance"><h2>收银员业绩</h2></a>
</nav>

<h1 style="color: red;width: 100%" align="center">
    欢迎您，经理！
</h1>
</body>
</html>